<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>店舗情報</title>
    <link rel="stylesheet" href="/public/top.css">
</head>
<body>
    <%= data[0].genre%>
    <%= data[0].shopName%>
    <%= data[0].postal_code%>
    <%= data[0].prefecture%>
    <%= data[0].city%>
    <%= data[0].address1%>
    <%= data[0].address2%>
    <%= data[0].time1%>時〜
    <%= data[0].time2%>時
    <button onclick="location.href='/'">戻る</button>
</body>
</html>